html,
body {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
}

#root {
  width: 100%;
}

.Container {
  height: 100%;
  overflow: hidden;
  margin: 0px;
  display: flex;
}

.Col {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}

.Autocomplete {
  display: flex;
  justify-content: center;
  margin-top: 9rem;
}

.Rightbar {
  background-color: #fcc63e;
}

.Logo {
  margin-bottom: 0.75rem;
  text-align: center;
}

.Logo img {
  width: 40%;
}

/* Material override */
.MuiCardContent-root:last-child {
  padding-bottom: 15px !important;
}

.MuiCard-root {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 840px) {
  .MuiCard-root {
    min-width: 215px !important;
  }
}
